$darknessblue: #1a305b;
$outline: #6786C7;
$darkblue: #375ba1;
$lightnessblue: #d6e0e9;
$green: #34a853;
$blue: #4285F4;
$red: #ea4335;
$app-background: #e9f1f7;
$reserved: #5C5C5C;
$highlight: #fafafa;
$headerblock: #E4E7F0;
